// BEGIN THEME
// -----------

@import "Kickstrap/themes/cerulean/variables.less";		
@import "Kickstrap/themes/cerulean/bootswatch.less";		
// Replace the path with any .less file in the 'themes' folder.

// Tweak your current theme here, or comment-out the predefined theme from settings
// and start fresh below.


.videos_list {
	margin-left:3%;
	margin-bottom : 20px;
	padding : 2%;
	width:25%;
	float:left;
	background-color:white;
	h3, p { text-align: center; }
	color:#479FEC;	
	div {
	margin-top:30px;
	}
	hr {
	background-color: grey;
	height: 1px;}
	 -moz-border-radius: 12px;
	 -webkit-border-radius: 12px;
	 border-radius: 12px;
	-moz-box-shadow: 4px 4px 14px #000;
	 -webkit-box-shadow: 4px 4px 14px #000;
	 box-shadow: 4px 4px 14px #000;
}

.miniature{
	margin-left:5%;
}

.row {
	margin-top:10px;
	margin-bottom:10px;
}

.notes {
	margin:10px;
}

.selected_video_button {
	margin-bottom : 5%;
}
.control_button {
	border : solid 1px #479FEC;
	border-radius : 6px;
	moz-border-radius : 6px;
	font-size : 20px;
	color : white;
	padding : 1px 17px;
	background : #68ACE8;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AFCEE9), color-stop(100%,#479FEC));
	background : -moz-linear-gradient(top, #AFCEE9 0%, #479FEC 100%);
	background : -webkit-linear-gradient(top, #AFCEE9 0%, #479FEC 100%);
	background : -o-linear-gradient(top, #AFCEE9 0%, #479FEC 100%);
	background : -ms-linear-gradient(top, #AFCEE9 0%, #479FEC 100%);
	background : linear-gradient(top, #AFCEE9 0%, #479FEC 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#AFCEE9', endColorstr='#479FEC',GradientType=0 );
}

.selected_video {
	margin-top:100px;
	margin-left:35%;
	width : 60%;
	height : 800px;
	padding : 20px;
   -moz-border-radius: 12px;
   -webkit-border-radius: 12px;
   border-radius: 12px;
   -moz-box-shadow: 4px 4px 14px #000;
   -webkit-box-shadow: 4px 4px 14px #000;
   box-shadow: 4px 4px 14px #000;
}

.vidplayer {
	float:left;
}

.soundplayer {
	margin: 5%;
}

